.advantages__list {
  padding-top: 60px;
  @include flex(30px);
  min-width: 320px;
  flex-direction: column;
}
.advantages__title {
  @include text(36px, 700);
  @include titles(1.16, 0.03em, 0, 36px);
}
.advantages__item::before {
  content: "";
  display: block;
  max-width: 450px;
  height: 120px;
  background-color: $color-bg-filters_button;
  margin-bottom: 30px;
  border-radius: 4px;
  @extend %background;
}
.advantages__item--warning::before {
  background-image: url(../img/antenna.svg);
}
.advantages__item--punctuality::before {
  background-image: url(../img/clock.svg);
}
.advantages__item--planning::before {
  background-image: url(../img/diagram.svg);
}
.advantages__item--technology::before {
  background-image: url(../img/astronaut.svg);
}
.advantages__text {
  @include text(1.17);
  padding-top: 10px;
}
