.advantages__list {
  padding-top: 60px;
  @include flex(0);
  min-width: 320px;
  flex-direction: column;
}
@media (min-width: 768px) {
  .advantages__list {
    padding-top: 60px;
    @include flex(30px);
    max-width: 738px;
    flex-direction: column;
  }
}
.advantages__title {
  @include text(14px, 700);
  @include titles(1.14, 0.03em, 0, 14px);
  text-transform: uppercase;
}
.advantages__item::before {
  content: "";
  display: block;
  max-width: 450px;
  height: 120px;
  background-color: $color-bg-filters_button;
  margin-bottom: 30px;
  border-radius: 4px;
  @extend %background;
  background-size: auto;
}
.advantages__item--warning::before {
  background-image: url(../img/antenna.svg);
}
.advantages__item--punctuality::before {
  background-image: url(../img/clock.svg);
}
.advantages__item--planning::before {
  background-image: url(../img/diagram.svg);
}
.advantages__item--technology::before {
  background-image: url(../img/astronaut.svg);
}
.advantages__text {
  @include text(1.17);
  padding-top: 10px;
}
