.advantages__list {
  padding-top: 95px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.advantages__title {
  font-size: 14px;
  font-weight: 700;
  color: $color-text-title;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantages__item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: $color-bg-filters_button;
  margin-bottom: 30px;
  border-radius: 4px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
.advantages__item--warning::before {
  background-image: url(../img/antenna.svg);
}
.advantages__item--punctuality::before {
  background-image: url(../img/clock.svg);
}
.advantages__item--planning::before {
  background-image: url(../img/diagram.svg);
}
.advantages__item--technology::before {
  background-image: url(../img/astronaut.svg);
}
.advantages__text {
  line-height: 1.71;
  padding-top: 10px;
}
