.footer {
  background-color: var(--color-bg-primary);
  padding-top: 60px;
}
.footer__container {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  gap: 70px;
}

.contacts {
  padding-bottom: 60px;
}
.contacts__address {
  color: var(--color-text-secendary);
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 20px;
}
.contacts__link {
  color: var(--color-text-info);
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover {
  color: var(--color-text-hover);
}
.contacts__item {
  padding-top: 10px;
}
.about__title {
  color: var(--color-text-secendary);
  padding: 12px 0px 20px;
}
.about__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.about__link {
  display: flex;
  align-items: center;
  padding: 12px;
  transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  background-color: var(--color-bg-wheit10);
}
.about-link:hover {
  background-color: var(--color-text-hover);
}
.about__photo {
  width: 20px;
  height: 20px;
  fill: var(--color-text-secendary);
}
.newsletter__title {
  font-weight: 700;
  letter-spacing: 3%;
  color: var(--color-text-secendary);
  padding-bottom: 20px;
}
.mewsletter__inputs {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.inputs__grup {
  border: var(--color-border-newsletter) 1px solid;
  border-radius: 4px;
  width: 360px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputs__input {
  width: 350px;
  height: 50px;
}

.inputs__photo {
  fill: var(--color-text-secendary);
  width: 24px;
  height: 24px;
}
