.hero {
  background-image: linear-gradient(
      to top,
      $color-bg-gradient,
      $color-bg-gradient
    ),
    url(../img/hero.webp);
  @extend %backgraund;
  padding: 200px 0;
  width: 480px;
}
.hero__content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero__title {
  @include text(44px, 400, 1.41);
  color: $color-text-secendary;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  text-align: center;
}
.hero__button {
  border-radius: 4px;
  @include text(16px, 700);
  font-family: $font-primary;
  color: $color-text-secendary;
  background-color: $color-text-hover;
  padding: 10px 30px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
