.hero {
  background-image: linear-gradient(
      to top,
      $color-bg-gradient,
      $color-bg-gradient
    ),
    url(../img/mobil/hero.webp);
  @extend %background;
  padding: 200px 0;
  max-width: 480px;
}
@media (min-device-pixel-ratio: 2) and (min-resolution: 2) {
  .hero {
    background-image: linear-gradient(
        to top,
        $color-bg-gradient,
        $color-bg-gradient
      ),
      url(../img/mobil/x2/hero.webp);
  }
}
@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to top,
        $color-bg-gradient,
        $color-bg-gradient
      ),
      url(../img/tablet/x2/hero.webp);
    min-width: 768px;
  }
}
@media (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        to top,
        $color-bg-gradient,
        $color-bg-gradient
      ),
      url(../img/tablet/x2/hero.webp);
    min-width: 1200px;
  }
}
@media (min-device-pixel-ratio: 2) and (min-resolution: 2) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to top,
        $color-bg-gradient,
        $color-bg-gradient
      ),
      url(../img/tablet/x2/hero.webp);
  }
}
@media (min-device-pixel-ratio: 2) and (min-resolution: 2) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        to top,
        $color-bg-gradient,
        $color-bg-gradient
      ),
      url(../img/tablet/x2/hero.webp);
  }
}
.hero__content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero__title {
  @include text(26px, 900, 1.61);
  @include titles(1.61, 0.06em, 0, 26px);
  color: $color-text-secendary;
  text-transform: uppercase;
  max-width: 696px;
  text-align: center;
}
.hero__button {
  border-radius: 4px;
  @include text(16px, 700);
  font-family: $font-primary;
  color: $color-text-secendary;
  background-color: $color-text-hover;
  padding: 10px 30px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
