.team {
  background-color: var(--color-bg-filters_button);
}
.team-list {
  display: flex;
  gap: 30px;
}
.team-title {
  font-size: 36px;
  font-weight: 700;
  color: var(--color-text-title);
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 95px;
  padding-bottom: 50px;
}
.teammate {
  border-radius: 4px;
  padding-bottom: 30px;
  background-color: var(--color-text-secendary);
  margin-bottom: 95px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.teammate-img {
  padding-bottom: 30px;
}
.teammate-name {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-text-title);
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.teammete-role {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
}
.teammate-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.teammate-link {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.teammate-link:hover {
  background-color: var(--color-text-hover);
}
.teammate-picture {
  width: 20px;
  height: 20px;
  fill: var(--color-text-photo);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.teammate-link:hover .teammate-picture {
  fill: var(--color-text-secendary);
}
