.work {
  padding-top: 50px;
  margin-bottom: 95px;
}
.work__title {
  font-size: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: $color-text-logo;
  padding-top: 95px;
  padding-bottom: 50px;
}
.work__list {
  display: flex;
  gap: 30px;
}
.work__grup {
  position: relative;
}
.work__subtitle {
  font-weight: 700;
  letter-spacing: 3%;
  color: $color-text-secendary;
  text-align: center;
  width: 100%;
  padding: 27px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $color-bg-work;
}
