$color-text-logo: #000000;
$color-text-hover: #2196f3;
$color-text-secendary: #ffffff;
$color-text-primary: #757575;
$color-text-title: #212121;
$color-text-info: #ffffff99;
$color-text-photo: #afb1b8;
$color-bg-product: #eeeeee;
$color-bg-primary: #2f303a;
$color-bg-secendary: #ffffff99;
$color-bg-filters_button: #f5f4fa;
$color-bg-gradient: #2f303a66;
$color-bg-work: #2f303acc;
$color-bg-wheit10: #ffffff1a;
$color-border-newsletter: #ffffff4d;
$color-border-modal: #0000001a;
$color-bg-modal: #00000033;
$font-primary: "Roboto";
$font-secendary: "Raleway";
