.menu-toggle {
  position: relative;
  z-index: 9;
  height: 30px;
  width: 30px;
  display: block;
}
.menu__check {
  display: none;
}
.menu-toggle::after,
.menu-toggle::before {
  content: "";
}
.menu-toggle::after,
.menu-toggle::before,
.menu-toggle__line {
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: 0;
  transition: 1s;
  transition-property: top transform;
}
.menu-toggle::before {
  top: 0;
}
.menu-toggle__line {
  top: calc(50% - 1px);
}
.menu-toggle::after {
  top: calc(100% - 2px);
}
.menu__check:checked ~ .menu-toggle {
  &::before {
    top: calc(50% - 1px);
    transform: rotate(-1400deg);
  }
  .menu-toggle__line {
    transform-origin: top;
    transform: scaleX(0);
  }
  &::after {
    top: calc(50% - 1px);
    transform: rotate(1400deg);
  }
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
