:root {
  --color-text-logo: #000000;
  --color-text-hover: #2196f3;
  --color-text-secendary: #ffffff;
  --color-text-primary: #757575;
  --color-text-title: #212121;
  --color-text-info: #ffffff99;
  --color-bg-product: #eeeeee;
  --color-bg-primary: #2f303a;
  --color-bg-secendary: #ffffff99;
  --color-bg-filters_button: #f5f4fa;
  --font-primary: "Roboto";
  --font-secendary: "Raleway";
}
body {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 400;
  color: var(--color-text-primary);
  line-height: 1.14;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  padding: 25px 0px;
}
.header-contect {
  display: flex;
  gap: 95px;
  align-items: center;
}

.logo {
  font-family: var(--font-secendary);
  font-size: 26px;
  font-weight: 700;
  color: var(--color-text-hover);
  line-height: 1.38;
  letter-spacing: 0.03em;
}
.logo-black {
  font-family: var(--font-secendary);
  font-size: 26px;
  font-weight: 700;
  color: var(--color-text-logo);
  line-height: 1.38;
  letter-spacing: 0.03em;
}
.nav {
  flex-grow: 1;
}
.nav-list {
  display: flex;
  gap: 50px;
}
.nav-link {
  font-weight: 500;
  color: var(--color-text-title);
  letter-spacing: 0.02em;
}
.nav-link:hover {
  color: var(--color-text-hover);
}
.header-list {
  display: flex;
  gap: 50px;
}
.addres-link {
  color: var(--color-text-primary);
}
.addres-link:hover {
  color: var(--color-text-hover);
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero {
  background-color: var(--color-bg-primary);
  contain: "";
  background-image: url(../img/hero.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;
}
.hero-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero-title {
  font-size: 44px;
  color: var(--color-text-secendary);
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  text-align: center;
}
.hero-button {
  border-radius: 4px;
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 700;
  color: var(--color-text-secendary);
  background-color: var(--color-text-hover);
  padding: 10px 30px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.advantages-list {
  padding-top: 95px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.advantages-title {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-text-title);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantages-item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: var(--color-bg-filters_button);
  margin-bottom: 30px;
  border-radius: 4px;
  background-image: url(../img/antenna.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
.advantages-item:nth-child(2)::before {
  background-image: url(../img/clock.svg);
}
.advantages-item:nth-child(3)::before {
  background-image: url(../img/diagram.svg);
}
.advantages-item:nth-child(4)::before {
  background-image: url(../img/astronaut.svg);
}
.advantages-text {
  line-height: 1.71;
  padding-top: 10px;
}
.work-title {
  font-size: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-text-logo);
  padding-top: 95px;
}
.work-list {
  display: flex;
  gap: 30px;
}
.work-photo {
  padding-top: 50px;
  padding-bottom: 95px;
}
.team {
  background-color: var(--color-bg-filters_button);
}
.team-list {
  display: flex;
  gap: 30px;
}
.team-title {
  font-size: 36px;
  font-weight: 700;
  color: var(--color-text-title);
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 95px;
  padding-bottom: 50px;
}
.teammate {
  padding-bottom: 90px;
  background-color: var(--color-text-secendary);
  margin-bottom: 95px;
  height: 368px;
  width: 270px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.teammate-img {
  padding-bottom: 30px;
}
.teammate-name {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-text-title);
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.teammete-role {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
}
.footer {
  background-color: var(--color-bg-primary);
  padding-top: 60px;
}
.logo-white {
  font-family: var(--font-secendary);
  font-size: 26px;
  font-weight: 700;
  color: var(--color-text-secendary);
  line-height: 1.38;
  letter-spacing: 0.03em;
  padding-top: 60px;
}
.footer-contacts {
  padding-bottom: 60px;
}
.footer-contacts-address {
  color: var(--color-text-secendary);
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 20px;
}
.footer-contacts-link {
  color: var(--color-text-info);
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-contacts-link:hover {
  color: var(--color-text-hover);
}
.footer-contacts-item {
  padding-top: 10px;
}
.filters-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.filters-button {
  font-weight: 500;
  font-size: 16px;
  color: var(--color-text-logo);
  background-color: var(--color-bg-filters_button);
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  padding: 6px 25px;
  border-radius: 4px;
}
.filters-button:hover {
  background-color: var(--color-text-hover);
  color: var(--color-text-secendary);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}
.portfolio-list {
  padding-bottom: 95px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.product {
  padding-bottom: 30px;
}
.product:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}
.product-name {
  font-weight: 700;
  font-size: 18px;
  color: var(--color-text-logo);
  line-height: 2;
  letter-spacing: 0.06em;
  padding-top: 20px;
  padding-bottom: 4px;
}
.product-filters {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  padding-bottom: 20px;
}
