:root {
  --color-text-logo: #000000;
  --color-text-hover: #2196f3;
  --color-text-secendary: #ffffff;
  --color-text-primary: #757575;
  --color-text-title: #212121;
  --color-text-info: #ffffff99;
  --color-bg-product: #eeeeee;
  --color-bg-primari: #2f303a;
  --color-bg-secendary: #ffffff99;
}
p {
  --color-text-primary: ;
}
.black {
  --color-text-title: ;
}
h1 {
  --color-text-secendary: ;
}
.blue {
  --color-text-hover: ;
}
.white_grei {
  --color-text-primary: ;
}
